#screenArea{
    background-color: rgb(255, 255, 255);
    width: 396px;
    height: 300px;
    border: 2px groove black;
    
    
    justify-content: center;
    align-items: center;
    margin: auto;

    z-index: 9999; 
    position:relative
}

.timer {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: black;
    user-select: none;
    
    
}

#tempBar{
    width: 25px;
    height: 298px;
    border: 2px groove black;
    float: left;
    position: relative;
    
}

#tempPercentage{
    width: 25px;
    height: 10px;
    background-color: red;
    position: absolute;
    
    
}

#sunBar{
    width: 25px;
    height: 294px;
    border: 1px groove black;
    float: left;
    text-align: left;
    border-radius: 100px;
    margin-top: 2px;
    margin-left: 3px;
}

#sunPercent{
    width: 21px;
    height: 20px;
    background-color: red;
    position: absolute;
    opacity: 70%;
    border-radius: 100px;
    margin-left: 2.49px;
    margin-top: 2px;
    bottom: 5px; 
}

#sunPercent2{
    width: 20px;
    height: 0px;
    background-color: red;
    position: absolute;
    opacity: 70%;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 2px;
    bottom: 10px;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#inputButton1 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#inputButton2 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#inputButton3 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#inputButton4 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}


#windowButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#heaterButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#sprinklerButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#fanButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}


#output {
    background-color: rgb(255, 255, 255);
    width: 396px;
    height: 146px;
    border: 2px groove black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    z-index: 9999;
    position:relative
}

#profileLink {
    width: 250px;
    height: 30px;;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-align: center;
    font-size: 15px;
    font-weight: 900;
    z-index: 9999;
    position:relative
}