#screenArea{
    background-color: rgb(255, 255, 255);
    width: 396px;
    height: 300px;
    border: 2px groove black;
    
    
    justify-content: center;
    align-items: center;
    margin: auto;

    z-index: 9999; 
    position:relative
}

.timer {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: black;
    user-select: none;
}

#tempBar{
    width: 25px;
    height: 298px;
    border: 2px groove black;
    float: left;
    position: relative;
    
}

#tempPercentage{
    width: 25px;
    height: 10px;
    background-color: red;
    position: absolute;
    
    
}

#sunBar{
    width: 25px;
    height: 294px;
    border: 1px groove black;
    float: left;
    text-align: left;
    border-radius: 100px;
    margin-top: 2px;
    margin-left: 3px;
}

#sunPercent{
    width: 21px;
    height: 0px;
    background-color: red;
    position: absolute;
    opacity: 70%;
    border-radius: 100px;
    margin-left: 2.49px;
    margin-top: 2px;
    bottom: 5px; 
}

#sunPercent2{
    width: 20px;
    height: 0px;
    background-color: red;
    position: absolute;
    opacity: 70%;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 2px;
    bottom: 10px;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#inputButton1 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#inputButton2 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#inputButton3 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#inputButton4 { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}


#windowButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#heaterButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#sprinklerButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}

#fanButton { /*hashtag is for CSS ID */
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;;

    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 9999;
    position:relative;
}


#output {
    background-color: rgb(255, 255, 255);
    width: 396px;
    height: 146px;
    border: 2px groove black;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    z-index: 9999;
    position:relative
}

#window{
    width: 2px;
    height: 86px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    opacity: 0%;
    /*border-radius: 100px; */
    margin-left: 60px;
    margin-top: 128px;
    top: 10px;
}

#heater{
    width: 12px;
    height: 23px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    opacity: 0%;
    /*border-radius: 100px; */
    margin-left: 55px;
    margin-top: 97px;
    top: 10px;
}

#sprinkler{
    width: 27px;
    height: 166px;
    background-color: rgb(0, 225, 255);
    position: absolute;
    opacity: 0%; 
    /*border-radius: 100px; */
    margin-left: 168px;
    margin-top: 32px;
    top: 10px;
}

#fan{
    width: 215px;
    height: 70px;
    background-color: rgb(141, 141, 141);
    position: absolute;
    opacity: 0%; 
    /*border-radius: 80px;*/
    margin-left: 60px;
    margin-top: 152px;
    top: 10px;
}

#plant{

    width: 10px;
    height: 10px;
    background-color: rgb(19, 160, 0);
    position: absolute;
    opacity: 70%; 
    /*border-radius: 80px;*/
    margin-left: 176px;
    margin-bottom: 82px;
    bottom: 10px;
}

#plant2{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgb(238, 255, 0);
    position: absolute;
    opacity: 0%; 
    /*border-radius: 80px;*/
    margin-left: 167px;
    margin-bottom: 170px;
    bottom: 10px;
}

#profileLink {
    width: 250px;
    height: 30px;;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    text-align: center;
    font-size: 15px;
    font-weight: 900;
    z-index: 9999;
    position:relative
}